@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that can't be handled by Tailwind */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.font-dm-serif {
    font-family: "DM Serif Display", serif;
}

.font-public-sans {
    font-family: "Public Sans", sans-serif;
}

/* Custom styles below this line */
